<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.bms.mapper.BatteryMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.bms.entity.Battery">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="battery_type" jdbcType="VARCHAR" property="batteryType" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, updated_time, battery_type, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from battery
    where id = #{id,jdbcType=VARCHAR}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from battery
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiaomi.bms.entity.Battery" useGeneratedKeys="true">
    insert into battery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="created_time != null">
        created_time,
      </if>
      <if test="updated_time != null">
        updated_time,
      </if>
      <if test="battery_type != null">
        battery_type,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null">
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="battery_type != null">
        #{battery_type,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.bms.entity.Battery">
    update battery
    <set>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null">
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="battery_type != null">
        battery_type = #{battery_type,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomi.bms.entity.Battery">
    update battery
    set created_time = #{created_time,jdbcType=TIMESTAMP},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      battery_type = #{battery_type,jdbcType=VARCHAR},
      is_deleted = #{is_deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>


</mapper>